body{
  width: 900px;
  font-family: 'Dancing Script';
  background-color: #02010a;
  text-align: center;
  margin: 0 auto;
}

#contenido{
  max-width: 900px;
  margin: 0 auto;
}

header{
  display: flex;
  background-color: #5b7989;
  border-radius: 10px 10px 0px 0px;
}

#titulo{
  display: flex;
  float: left;
  flex: auto;
  color: white;
  text-align: left;
  text-shadow: 2px 2px 0px #02010a;
  padding-left: 1em;
  padding-right: 1em;
}

#MenuPpal{
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 2em;
  float: right;
  color: white;
}

#MenuPpal a{
  padding-left: 1em;
  color: white;
}

#PagInicio{
  text-decoration: none;
}
